<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Encontrei!</title>
  <link rel="stylesheet" href="src/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="src/dist/all.min.css">
  <link rel="stylesheet" href="src/assets/angular-modules/angular-ui-notification/angular-ui-notification.min.css" />
</head>
<body ng-app="twb" ng-controller="MainCtrl as mainCtrl" ng-cloak>
  <nav class="logged-user-navbar">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="user-logged-info text-right">
            <i class="glyphicon glyphicon-user"></i> Olá <strong>{{userFullName}}! <button class="header-btn" ng-click="logout()">Logout.</button></strong>
          </div><!-- /.user-logged-info -->
        </div><!-- /.col-xs-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </nav><!-- /.logged-user-navbar -->
  <header class="main-header logged-header">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h1 class="site-logo">
            <a href="#/">
              <img src="../assets/img/logo-encontrei.png" class="img-responsive" alt="">
            </a>
          </h1>
        </div>
        <div class="col-md-8">
          <nav class="navbar custom-navbar">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="#/search">Buscar serviço</a></li>
                <li><a href="{{servicesMenu()}}">Serviços</a></li>
                <li ng-show="isAdmin()"><a href="#/reports">Relatórios</a></li>
                <li ng-show="isProvider()"><a href="#/new-service">Cadastrar serviço</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </nav>
        </div><!-- /.col-md-8 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </header><!-- /.main-header -->

  <section class="main-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div id="main">
            <!-- All the views goes here -->
            <div ng-view></div>
          </div><!-- /#main -->
        </div><!-- /.col-xs-9 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.main-section -->

  <footer class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <img src="../assets/img/logo-encontrei-black.png" class="img-responsive" alt="">
        </div>
        <div class="col-md-10">
          <div class="text-right">
            <b>Copyright © 2016</b>. Todos os direitos reseravdos
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </footer>

  <!-- libs jq and utils -->
  <script src="src/assets/jquery/jquery.js"></script>
  <script src="src/assets/bootstrap/js/bootstrap.min.js"></script>

  <!-- angular -->
  <script src="src/assets/angular-1.5.5/angular.min.js"></script>
  <script src="src/assets/angular-1.5.5/angular-route.min.js"></script>
  <script src="src/assets/angular-modules/angular-cookies/angular-cookies.min.js"></script>
  <script src="src/assets/angular-modules/angular-ui-notification/angular-notification.min.js"></script>

  <!-- Custom scripts -->
  <script src="src/dist/app.js"></script>
</body>
</html>
