<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Administrador</title>
  <link rel="stylesheet" href="src/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="src/css/style.css">
  <link rel="stylesheet" href="src/assets/angular-modules/angular-ui-notification/angular-ui-notification.min.css" />
</head>
<body class="admin-login-page" ng-app="twb">
  <section class="main-section">
    <div class="container" ng-controller="LoginController as loginCtrl">
      <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
          <div class="admin-login-logo text-center">
            <img src="src/img/logo-encontrei.png" alt="" />
          </div><!-- /.text-center -->
          <div class="panel panel-default">
            <div class="panel-body">
              <form name="loginForm" class="form-signin">
                <fieldset>
                  <div class="form-group">
                    <input class="form-control" placeholder="E-mail" id="email" type="text" ng-model="loginCtrl.email">
                  </div><!-- /.form-group -->
                  <div class="form-group">
                    <input class="form-control" placeholder="Senha" id="password" type="password" ng-model="loginCtrl.password">
                  </div><!-- /.form-group -->
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="loginCtrl.remember"> Permanecer conectado
                    </label>
                  </div>
                  <button class="btn btn-lg btn-success btn-block"
                    type="submit"
                    ng-disabled="loginCtrl.isLoading()"
                    ng-click="loginCtrl.login($event)">
                    Login
                  </button>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- /.main-section -->

  <!-- libs jq and utils -->
  <script src="src/assets/jquery/jquery.js"></script>
  <script src="src/assets/bootstrap/js/bootstrap.min.js"></script>

  <!-- angular -->
  <script src="src/assets/angular-1.5.5/angular.min.js"></script>
  <script src="src/assets/angular-1.5.5/angular-route.min.js"></script>
  <script src="src/assets/angular-modules/angular-cookies/angular-cookies.min.js"></script>
  <script src="src/assets/angular-modules/angular-ui-notification/angular-notification.min.js"></script>

  <!-- Custom scripts -->
  <script src="src/dist/app.js"></script>
</body>
</html>
