<div class="adm-dashboard" ng-controller="DashboardCtrl as dashCtrl">
  <h1 class="dash-title"><i class="glyphicon glyphicon-home"></i> Dashboard</h1>
  <div class="admin-cards-area">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Total de usuários cadastrados</h3>
          </div>
          <div class="panel-body">
            <div class="big-font"><strong>{{dashCtrl.totalUsers}}</strong></div><!-- /.big-font -->
          </div>
        </div><!-- /.panel -->
      </div><!-- /.col-sm-6 -->
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Total de serviços contratados</h3>
          </div>
          <div class="panel-body">
            <div class="big-font"><strong>{{dashCtrl.totalServices}}</strong></div><!-- /.big-font -->
          </div>
        </div><!-- /.panel -->
      </div><!-- /.col-sm-6 -->
    </div><!-- /.row -->
  </div><!-- /.admin-cards-area -->

  <div class="admin-cards-area">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Melhores serviços deste mês</h3>
          </div>
          <div class="panel-body">
            <ul class="admin-custom-list">
              <li ng-repeat="service in bestServices"><i class="text-success glyphicon glyphicon-thumbs-up"></i> {{service.name}}</li>
            </ul>
          </div>
        </div><!-- /.panel -->
      </div><!-- /.col-sm-6 -->
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Piores serviços deste mês</h3>
          </div>
          <div class="panel-body">
            <ul class="admin-custom-list">
              <li ng-repeat="service in worseServices"><i class="text-danger glyphicon glyphicon-thumbs-down"></i> {{service.name}}</li>
            </ul>
          </div>
        </div><!-- /.panel -->
      </div><!-- /.col-sm-6 -->
    </div><!-- /.row -->
  </div><!-- /.admin-cards-area -->
  <div class="admin-cards-area">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Clientes aguardando aprovação</h3>
          </div>
          <div class="panel-body">
            <ul class="admin-custom-list">
              <li ng-repeat="customer in unapprovedCustomers">
                <span>
                  <i class="glyphicon glyphicon-user"></i> {{customer.name}}
                </span>
                <button ng-click="dashCtrl.approveUser(customer.id, 'customer')" class="btn btn-default pull-right"><i class="glyphicon glyphicon-ok-circle"></i></button>
              </li>
            </ul>
          </div>
        </div><!-- /.panel -->
      </div><!-- /.col-sm-6 -->
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Prestadores aguardando aprovação</h3>
          </div>
          <div class="panel-body">
            <ul class="admin-custom-list">
              <li ng-repeat="provider in unapprovedProviders">
                <span>
                  <i class="glyphicon glyphicon-user"></i> {{provider.name}}
                </span>
                <button ng-click="dashCtrl.approveUser(provider.id, 'provider')" class="btn btn-default pull-right"><i class="glyphicon glyphicon-ok-circle"></i></button>
              </li>
            </ul>
          </div>
        </div><!-- /.panel -->
      </div><!-- /.col-sm-6 -->
    </div><!-- /.row -->
  </div><!-- /.admin-cards-area -->
</div><!-- /.adm-dashboard -->
