<div ng-controller="RegisterServiceCtrl as registerService">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2 class="section-title">Novo serviço</h2>
      <form>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Título do serviço" ng-model="registerService.field.name" />
            </div><!-- /.form-group -->
          </div><!-- /.col-xs-12 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <select ng-model="registerService.field.type" class="form-control" id="">
                <option value="">Tipo de serviço</option>
                <option value="paid">Pago</option>
                <option value="free">Voluntário</option>
              </select>
            </div><!-- /.form-group -->
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="registerService.field.value" placeholder="Valor(R$)/Pontos" />
            </div><!-- /.form-group -->
          </div><!-- /.col-xs-6 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <select ng-model="registerService.field.category" class="form-control" id="">
                <option value="">Selecione uma categoria</option>
                <option ng-repeat="cat in categories" value="{{cat}}">{{cat.name}}</option>
              </select>
            </div><!-- /.form-group -->
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Disponibilidade p/ realização" ng-model="registerService.field.availability" />
            </div><!-- /.form-group -->
          </div><!-- /.col-xs-6 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <textarea placeholder="Descrição do serviço" ng-model="registerService.field.description" class="form-control" rows="10"></textarea>
            </div><!-- /.form-group -->
          </div><!-- /.col-xs-12 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <button type="submit" class="btn btn-lg btn-primary" ng-click="registerService.register($event)">Cadastrar!</button>
            </div><!-- /.form-group -->
          </div><!-- /.col-xs-12 -->
        </div><!-- /.row -->
      </form>
    </div><!-- /.col-sm-8 col-sm-offset-2 -->
  </div><!-- /.row -->
</div>
