<div ng-controller="ReportsCtrl as reportsCtrl">
  <h2 class="section-title">Relatórios</h2><!-- /.section-title -->
  <div class="col-sm-6">
    <h3 class="text-success"><i class="glyphicon glyphicon-thumbs-up"></i> Serviços com melhores avaliações</h3>
    <form name="bestServicesFilter" class="form-filter form-inline" action="">
      <div class="form-group">
        <label for="">Filtrar por:</label>
        <select name="" id="" ng-model="bestService.realizedAt" class="form-control">
          <option value="">Geral</option>
          <option value="1">Janeiro</option>
          <option value="2">Fevereiro</option>
          <option value="3">Março</option>
          <option value="4">Abril</option>
          <option value="5">Maio</option>
          <option value="6">Junho</option>
          <option value="7">Julho</option>
          <option value="8">Agosto</option>
          <option value="9">Setembro</option>
          <option value="10">Outubro</option>
          <option value="11">Novembro</option>
          <option value="12">Dezembro</option>
        </select>
      </div><!-- /.form-group -->
      <div class="form-group">
        <button class="btn btn-default">Filtrar</button>
      </div><!-- /.form-group -->
    </form>
    <table class="list-services table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Nome do prestador</th>
          <th>Nome do cliente</th>
          <th>Serviço</th>
          <th>Avaliação</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="service in bestServices | filter:filterByMonth(bestService.realizedAt)">
          <th scope="row">{{service.id}}</th>
          <td>{{service.provider.name}}</td>
          <td>{{service.customer.name}}</td>
          <td>{{service.name}}</td>
          <td>{{service.rating}}</td>
        </tr>
      </tbody>
    </table>
  </div><!-- /.col-sm-6 -->
  <div class="col-sm-6">
    <h3 class="text-danger"><i class="text-danger glyphicon glyphicon-thumbs-up"></i> Serviços com piores avaliações</h3>
    <form name="worseServicesFilter" class="form-filter form-inline" action="">
      <div class="form-group">
        <label for="">Filtrar por:</label>
        <select name="" id="" ng-model="worseService.realizedAt" class="form-control">
          <option value="">Geral</option>
          <option value="1">Janeiro</option>
          <option value="2">Fevereiro</option>
          <option value="3">Março</option>
          <option value="4">Abril</option>
          <option value="5">Maio</option>
          <option value="6">Junho</option>
          <option value="7">Julho</option>
          <option value="8">Agosto</option>
          <option value="9">Setembro</option>
          <option value="10">Outubro</option>
          <option value="11">Novembro</option>
          <option value="12">Dezembro</option>
        </select>
      </div><!-- /.form-group -->
      <div class="form-group">
        <button class="btn btn-default">Filtrar</button>
      </div><!-- /.form-group -->
    </form>
    <table class="list-services table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Nome do prestador</th>
          <th>Nome do cliente</th>
          <th>Serviço</th>
          <th>Avaliação</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="service in bestServices | filter:filterByMonth(worseService.realizedAt)">
          <th scope="row">{{service.id}}</th>
          <td>{{service.provider.name}}</td>
          <td>{{service.customer.name}}</td>
          <td>{{service.name}}</td>
          <td>{{service.rating}}</td>
        </tr>
      </tbody>
    </table>
  </div><!-- /.col-sm-6 -->
</div>
