<div ng-controller="SearchServicesCtrl as searchCtrl">
  <h2 class="section-title">Buscar serviço</h2>
  <form class="search-service">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label>Título do serviço</label>
          <input type="text" class="form-control" ng-model="searchCtrl.field.name" />
        </div><!-- /.form-group -->
      </div><!-- /.col-sm-4 -->
      <div class="col-sm-4">
        <div class="form-group">
          <label>Categoria</label>
          <select ng-model="searchCtrl.field.category" class="form-control" id="">
            <option value="">Selecione uma categoria</option>
            <option ng-repeat="cat in categories" value="{{cat.id}}">{{cat.name}}</option>
          </select>
        </div><!-- /.form-group -->
      </div><!-- /.col-sm-4 -->
      <div class="col-sm-4">
        <div class="form-group">
          <label>Avaliação maior ou igual a</label>
          <select ng-model="searchCtrl.field.rating" class="form-control" id="">
            <option value="">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div><!-- /.form-group -->
      </div><!-- /.col-sm-4 -->
      <div class="col-xs-12">
        <div class="form-group">
          <button type="submit" ng-click="searchCtrl.search(searchCtrl.field.name, searchCtrl.field.category, searchCtrl.field.rating)" class="btn btn-lg btn-success"><i class="glyphicon glyphicon-search"></i> Buscar!</button>
        </div><!-- /.form-group -->
      </div><!-- /.col-xs-12 -->
    </div><!-- /.row -->
  </form>

  <div class="row">
    <div class="col-xs-12">
      <h2>{{searchMessage}}</h2>
    </div><!-- /.col-xs-12 -->
  </div><!-- /.row -->
  <div class="row">
    <div class="col-xs-4" ng-repeat="service in searchResults">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>{{service.name}}</h3><!-- /.panel-title -->
          <p>{{service.description}}</p>
          <a href="#/service/{{service.id}}" class="btn btn-lg btn-primary">Saiba mais</a>
        </div>
      </div>
    </div><!-- /.col-xs-4 -->
  </div><!-- /.row -->
</div>
