<div ng-controller="ServiceCtrl as serviceCtrl">
  <div class="row">
    <div class="col-sm-8">
      <article id="service-item-1" class="service-single">
        <h2>{{service.name}}</h2>
        <p><strong><i class="glyphicon glyphicon-tag"></i> Categoria:</strong> {{service.category.name}}</p>
        <div class="service-body">
          {{service.description}}
        </div><!-- /.service-body -->
        <button ng-click="hire(service)" class="btn btn-lg btn-success">Contratar!</button>
      </article><!-- /#service-item-1 -->
    </div><!-- /.col-sm-8 -->
    <div class="col-sm-4">
      <h3>Dados do prestador</h3>
      <p><i class="glyphicon glyphicon-user"></i> <strong>Nome:</strong> {{service.provider.name}}</p>
      <p><i class="glyphicon glyphicon-calendar"></i> <strong>Disponibilidade:</strong> {{service.availability}}</p>
      <p><i class="glyphicon glyphicon-info-sign"></i> <strong>Descrição:</strong> {{service.provider.description}}</p>
    </div><!-- /.col-sm-4 -->
  </div><!-- /.row -->
</div>
