<div ng-controller="ServicesCtrl as servicesCtrl">
  <h2 class="section-title">Serviços</h2>
  <table class="list-services table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome do prestador</th>
        <th>Nome do cliente</th>
        <th>Serviço</th>
        <th>Avaliação</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="service in realizedServices">
        <th scope="row">{{service.id}}</th>
        <td>{{service.provider.name}}</td>
        <td>{{service.customer.name}}</td>
        <td>{{service.name}}</td>
        <td>{{service.rating}}</td>
      </tr>
    </tbody>
  </table>
</div>
