<div ng-controller="ServicesCustomerCtrl as servicesCtrl">
  <h2 class="section-title">Serviços</h2>
  <table class="list-services table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome do prestador</th>
        <th>Serviço</th>
        <th>Avaliação</th>
        <th>Avaliar</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="service in realizedServices">
        <th scope="row">{{service.id}}</th>
        <td>{{service.provider.name}}</td>
        <td>{{service.name}}</td>
        <td>{{service.rating}}</td>
        <td>
          <select class="form-control" ng-model="servicesCtrl.selectedRate" ng-change="rateService(service)">
            <option ng-repeat="rate in servicesCtrl.rating" ng-selected="{{rate.value == service.rating}}" value="{{rate.value}}">{{rate.value}}</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
  <h3>Total gasto: {{totalValue}}</h3>
</div>
