/**
 *
 * General styles
 *
 */
body {
  background: #F9F9F9;
  font-family: 'Roboto', sans-serif;
  line-height: 24px;
}

body a {
  color: #2199D2;
  transition: 300ms;
}

.btn-primary {
  background: #FA6900;
  border: 1px solid #FA6900;
}

.big-font {
  font-size: 40px;
}

.medium-font {
  font-size: 26px;
}

.small-font {
  font-size: 10px;
}

/**
 *
 * Header
 *
 */
.main-header {
  color: #fff;
  background: #1D6CAD url(../img/bg-header.png) no-repeat center;
  padding: 20px 0;
}

.custom-navbar {
	margin-top: 20px;
  text-align: right;
}

.custom-navbar .navbar-nav {
  float: none;
}

.custom-navbar .navbar-nav>li {
  display: inline-block;
  float: none;
  text-align: right;
}

.custom-navbar .navbar-nav>li a {
  font-weight: bold;
  color: #fff;
}

.custom-navbar .navbar-nav>li a:hover {
  color: #fff;
  background: #6CCBF9;
}

.custom-navbar .navbar-collapse {
  padding: 0;
}

.main-menu {
  float: right;
  text-align: center;
  font-size: 16px;
}

.main-menu li {
  float: none;
  display: inline-block;
}

.main-menu li a {
  font-weight: bold;
  color: #fff;
  padding: 6px 12px;
  border-radius: 10px;
}

.main-menu li a:hover {
  background: #2BC4B4;
  color: #fff;
}

/* Logged header */
.logged-user-navbar {
  background: #2199D2;
  color: #fff;
  padding: 10px 0;
}

.user-logged-info {
  padding: 0 15px;
}

.user-logged-info a {
  color: #8BD1F3;
}

.logged-header {
  margin-bottom: 30px;
}

/**
*
* Home intro
*
*/

.home-intro-container {
  color: #fff;
  font-size: 18px;
  text-align: center;
  height: 500px;
  position: relative;
  padding: 13.5% 0;
}

.home-intro-container .intro-description {
  margin-top: 40px;
  font-weight: 300;
  font-size: 17px;
}

.home-about-us {
  background: #fff;
  padding: 50px 0;
}

.home-about-us h3 { font-size: 28px; }

.home-about-us h3,
.home-about-us h4 {
  color: #4E4E4E;
  font-weight: 700;
}

.random-offers {
  padding: 50px 0;
}

.random-offers h2 {
  margin-bottom: 50px;
  color: #4E4E4E;
}

/**
 *
 * Admin
 *
 */

.admin-cards-area {
  border-bottom: 1px solid #ececec;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.admin-custom-list {
  padding-left: 0;
  list-style: none;
}

.admin-custom-list li {
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
}

/**
 *
 * Box Model 1
 *
 */
.box-model-1 {
  background: #fff;
  text-align: center;
  border: 1px solid #ececec;
  border-radius: 5px;
  padding: 10px;
}

.box-model-1 img {
  border-radius: 5px;
}

.box-model-1 h3 {
  color: #FA6900;
}

/**
 *
 * Sidebar
 *
 */

.main-adm-sidebar {
  background: #fff;
  padding: 15px;
  border: 1px solid #ececec;
}

/**
 *
 * Dashboard
 *
 */

.dash-title {
  margin-bottom: 40px;
}

.dash-title i {
  margin-right: 5px;
  font-size: 22px;
}

/**
*
* Login Page
*
*/

.admin-login-page {
  background: #1D6CAD;
}

.admin-login-logo {
  margin-bottom: 40px;
}

.form-signin input[type="text"] {
  margin-bottom: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.vertical-offset-100 {
  padding-top: 100px;
}

/**
 *
 * Forms
 *
 */

#register-section {
  margin-top: 40px;
}

#register-section h1,
#register-section h2,
#register-section h3,
#register-section h4{
  color: #8c8c8c;
}

#register-section .register-form {
  margin-top: 60px;
}

/**
*
* Footer
*
*/

.main-footer {
	background: #fff;
	padding: 30px 0;
  margin-top: 30px;
}
